<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Trhones</h1>
    <p>Em um reino distante, cinco classes distintas de guerreiros se encontram em uma guerra épica pelo trono. Cada facção, composta por Arqueiros, Guerreiros, Paladinos, Bruxos e Sacerdotes, acredita ser a mais digna de governar e está disposta a sacrificar tudo para alcançar o poder supremo. A batalha pelo trono é travada em campos de batalha devastados, florestas sombrias e ruínas antigas, onde alianças são formadas e traídas a cada passo.</p>
    <p>Os Arqueiros, mestres das flechas e da furtividade, utilizam o ambiente a seu favor, emboscando seus inimigos e atacando de longe. Com precisão letal, eles se movem como sombras, deixando um rastro de adversários caídos em seu caminho. Sua liderança é calculista e astuta, sempre um passo à frente das demais classes.</p>
    <P>Os Guerreiros, robustos e destemidos, formam a linha de frente da batalha. Armados com espadas e escudos, eles são a encarnação da força bruta e da coragem. Liderados por um comandante feroz, os Guerreiros marcham sem medo, esmagando qualquer resistência com sua força avassaladora e táticas militares superiores.</P>
    <p>Os Paladinos, guerreiros sagrados imbuídos de poderes divinos, lutam com um propósito maior. Eles acreditam que sua causa é justa e que o trono deve ser governado por alguém de pureza e retidão. Com suas armaduras brilhantes e habilidades curativas, os Paladinos protegem seus aliados e castigam seus inimigos com a ira dos céus.</p>
    <p>Os Bruxos, manipuladores de magia arcana, trazem um elemento de mistério e terror ao campo de batalha. Seus feitiços são devastadores, capazes de transformar o curso da batalha em um instante. Liderados por um arquimago de poder incomensurável, os Bruxos utilizam encantamentos sombrios e invocações demoníacas para subjugarem aqueles que se opõem ao seu domínio.</p>
    <p>Os Sacerdotes, guardiões do equilíbrio espiritual, lutam com um misto de fé e poder celestial. Suas habilidades de cura e proteção são vitais para seus aliados, e seus encantamentos sagrados podem dizimar legiões inimigas. Convictos de que o trono deve ser ocupado por alguém que traga paz e harmonia, os Sacerdotes travam sua batalha com fervor inabalável, acreditando que sua luz triunfará sobre a escuridão.</p>
    <p>Em um reino onde o poder é a única lei, a guerra pelo trono continua sem fim, com cada classe dando tudo de si para alcançar a supremacia. A batalha é feroz e implacável, e o destino do reino pende na balança, esperando por um governante digno que possa unificar ou destruir tudo.</p>

    <button onclick="window.location.href='/users/add'">Criar conta</button>
</body>
</html>